# Rust
/target
/src/main.rs
# Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# junk files
/.polygon
/.Polygon
/.temp
/tests/tmp
/.записи_проекта
# only for github
/.github
# VsCode
/.vscode
# coverage 
/.build_rs_cov.profraw
/coverage
# builds
/WHEELS
#dk
/.dockerignore
/Dockerfile

# Jet Brains
.idea
.idea/
.idea/*