# Rust
/target
/src/main.rs
/pkg
# Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# junk files
/.polygon
/.Polygon
/.temp
/tests/tmp
/.записи_проекта
.gitlab-ci-local
.gitlab-ci-local-env
.gitlab-ci-locally.yml
# VsCode
/.vscode
# coverage 
/.build_rs_cov.profraw
/coverage
/build_rs_cov.profraw
# builds
/WHEELS
/Windows
/Linux
/macOS
/site
#dk
/.dockerignore
/Dockerfile
# Jet Brains
.idea
.idea/
.idea/*